{% extends 'edc_base/base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
    <script type="text/javascript" src="{% static '' %}"></script>
  {% endblock extra-scripts %}

{% block main %}
<div class="container">
<div class="panel-group">
   	<div class="panel panel-success">
         <div class="panel-heading clearfix">Test Page for EDC Read Only</div>
     <div class="panel-body">
<a href="{% url 'read_only_form_url' app_label my_model form_module form_class_str my_model_pk %}">browse data</a>
</div>
</div>
</div>
</div>
{% endblock main %}
